<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>


<appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <!-- Your django path -->
    <add key="PYTHONPATH" value="C:\home\celerantcms.com\wwwroot" /> 
    <!-- Your djangoname.settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="core.settings" />
  </appSettings>





    <location path="" overrideMode="Allow">
        <system.webServer>
        <handlers>
            <add name="djangoecommerce1" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\home\celerantcms.com\wwwroot\env\Scripts\python.exe|C:\home\celerantcms.com\wwwroot\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        </system.webServer>
    </location>
</configuration>
