<div class="footer-container">
  <div class="row footer">
     <div class="col-lg-3 col-md-6 col-sm-6 information mt-3">
        <h5 class="heading">INFORMATION</h5>
        <div class="footer-menu"><a class="link" href="/"><span>Template Settings</span></a><a class="link"
           href="/"><span>Search Terms</span></a><a class="link" href="/"><span>Privacy Policy</span></a><a class="link"
           href="/"><span>About Us</span></a><a class="link" href="/"><span>Advandaced Search</span></a><a class="link"
           href="/"><span>Orders And Returns</span></a><a class="link" href="/"><span>Contact Us</span></a><a
           class="link" href="/"><span>Customer Services</span></a></div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-6 information mt-3">
        <h5 class="heading">WHY BUY FROM US</h5>
        <div class="footer-menu"><a class="link" href="/"><span>Shipping and Delivery</span></a><a class="link"
           href="/"><span>Secure Payments</span></a><a class="link" href="/"><span>Support</span></a><a class="link"
           href="/"><span>Gurantee</span></a><a class="link" href="/"><span>Terms and Conditions</span></a></div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-6information mt-3">
        <h5 class="heading">MY ACCOUNT</h5>
        <div class="footer-menu"><a class="link" href="/"><span>Sign In</span></a><a class="link" href="/"><span>View
           Cart</span></a><a class="link" href="/"><span>My Wishlist</span></a><a class="link"
              href="/"><span>FAQS</span></a>
        </div>
     </div>
     <div class=" col-lg-3 col-md-6 col-sm-6 information footer-newsletter mt-3">
        <h5 class="heading">SIGN UP FOR OUR NEWSLETTER</h5>
        <p>Stay up-to-date with our latest promotions, discounts, sales, and special offers.</p>
        <div class="newsletter">
           <input type="text" aria-label="News-letter" placeholder="Email">
           <button
              title="Newsletter">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                 class="newsletter-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                 <path
                    d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
                 </path>
              </svg>
           </button>
        </div>
     </div>
  </div>
</div>